	
	<h1> Dashboard</h1>
	<button hx-get="/stats/domains?domain={{domain_base}}" hx-target="#content">Back to domain page</button>
	<h2>Stats by URI - {{domain}}</h2>
	<div class="uri-page">
	<div class="uri-data">
		<h3>Page Hits</h3> 
	{% if data %}
	<div class="page-data">
	{% for website in data %}
		<p> {{ website.date }} - {{ website.count }}
	{% endfor %}
	</div>
	{% else %}
		<p> No data :( </p>
	{% endif %}
		</div>	

	<div class="uri-data">
		<h3>Top Event Interactions</h3> 
	{% if events %}
	<div class="page-data">
	{% for event in events %}
		<p> {{ event.event_id }} - {{ event.count }}
	{% endfor %}
	</div>
	{% else %}
		<p> No data :( </p>
	{% endif %}
		</div>	
	<div class="uri-data">
		<h3>Top Referrers</h3> 
	{% if referrers %}
	<div class="page-data">
	{% for referrer in referrers %}
		<p> {{ referrer.referrer }} - {{ referrer.count }}
	{% endfor %}
	</div>
	{% else %}
		<p> No data :( </p>
	{% endif %}
		</div>	
</div>
